/bin/
/databases/
/versions/
/AppLogger.log
/output/
/intermediate/
/datasets/
/madnessreport.csv
/iforest_tmp/
/fabod_tmp/
/abod_tmp/
/lof_tmp/
/odin_tmp/
/svm_tmp/
/fabod_tmp_RELOAD/
/HBOS_tmp_RELOAD/
/iforest_tmp_RELOAD/
/kmeans_tmp_RELOAD/
/lof_tmp_RELOAD/
/odin_tmp_RELOAD/
/svm_tmp_RELOAD/
/MADneSs_V8.jar
/MADneSs_V9.jar
/MADNESS9_Tommaso.rar
/cof_tmp_RELOAD/
/tmp/
/reloadreport.csv
/reload.preferences
/log/
/input/
/meta/
/data/
/reload_old.preferences
